<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="DBContext" connectionString="metadata=res://*/xxx.csdl|res://*/xxx.ssdl|res://*/xxx.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xxxxx;initial catalog=xxxxx;persist security info=False;Integrated Security=false;user id=xx;password=xxx;multipleactiveresultsets=True;App=EntityFramework;Connect Timeout=0;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>    
    <add key="ServiceName" value="YourWindowsServiceName"/>
    <add key="SmtpClient" value="XXXXXXXXXXX" />
    <add key="Port" value="XXX" />
    <add key="NetworkCredentialUsername" value="XXXXXXXXXX" />
    <add key="NetworkCredentiaPassword" value="XXXXXX" />
    <add key="FromAddress" value="XXXXXXXXX" />
    <add key="DisplayNameForFromAddress" value="XXXXXXXX" />
    
    <add key="EmailToSent" value="xxxxxxx@gmail.com;ggggg@vv.com" />
  </appSettings>
</configuration>